<defi-navbar></defi-navbar>
<defi-sidebar [conf]='conf' img="../../../assets/img/side.png"></defi-sidebar>
<input type="text" #name="ngModel" ngModel required>
<defi-form-errors [model]='name' [defi-validators]='name'></defi-form-errors>
<div class="hey">
  e"e"Z
</div>

<div class="scrollable">
  dzakdjnazjdkzandada <br>
   dzakdjnazjdkzandada
  <br>
   dzakdjnazjdkzandada
  <br>
   dzakdjnazjdkzandada
  <br>
   dzakdjnazjdkzandada
  <br>
  dzakdjnazjdkzandada <br>
    <input type="password" defi-show-password>
   dzakdjnazjdkzandada
  <br>
   dzakdjnazjdkzandada
  <br>
   dzakdjnazjdkzandada
  <br>
   dzakdjnazjdkzandada
  <br>
   dzakdjnazjdkzandada
  <br>
   dzakdjnazjdkzandada
  <br>
   dzakdjnazjdkzandada
  <br>
 

</div>
__________________________

<div style="position: relative; margin-left: 50%;">
  <div style="overflow: hidden;">
    <defi-popover [open]="true" placement="left">
      <div popover="content">
        Hello
      </div>
      <div class="label" for=""></div>
      <input/>
    </defi-popover>
  </div>
</div>