<navbar></navbar>
<sidebar [conf]='conf' img="../../../assets/img/side.png"></sidebar>
<input type="text" #name="ngModel" ngModel required>
<div class="hey">
  e"e"Z
</div>

<div class="scrollable">
  dzakdjnazjdkzandada <br>
   dzakdjnazjdkzandada
  <br>
   dzakdjnazjdkzandada
  <br>
   dzakdjnazjdkzandada
  <br>
   dzakdjnazjdkzandada
  <br>
  dzakdjnazjdkzandada <br>
    <input type="password" show-password>
   dzakdjnazjdkzandada
  <br>
   dzakdjnazjdkzandada
  <br>
   dzakdjnazjdkzandada
  <br>
   dzakdjnazjdkzandada
  <br>
   dzakdjnazjdkzandada
  <br>
   dzakdjnazjdkzandada
  <br>
   dzakdjnazjdkzandada
  <br>
 

</div>
__________________________

<popover [open]="true" placement="bottom">
  <div popover="content" #popovertest>Heyxsxsxsxsxssxxsssxxsx <br>Hey</div>
  <popover [open]="true" placement="top">
    <div popover="content">Heyxsxsxsxsxssxxsssxxsx
    <br>Hey</div>
    <popover [open]="true" placement="left" >
      <div popover="content" #popovertestleft>Heyxsxsxsxsxssxxsssxxsx <br>Hey</div>
      <popover [open]="true" placement="right">
        <div popover="content">Heyxsxsxsxsxssxxsssxxsx <br>Hey</div>
        Outside
      </popover>
    </popover>
  </popover>
</popover>