<navbar></navbar>
<sidebar [conf]='conf' img="../../../assets/img/side.png"></sidebar>
<input type="text" #name="ngModel" ngModel required>
<formErrors [model]='name' [validators]='name'></formErrors>
<div class="hey">
  e"e"Z
</div>

<div class="scrollable">
  dzakdjnazjdkzandada <br>
   dzakdjnazjdkzandada
  <br>
   dzakdjnazjdkzandada
  <br>
   dzakdjnazjdkzandada
  <br>
   dzakdjnazjdkzandada
  <br>
  dzakdjnazjdkzandada <br>
    <input type="password" show-password>
   dzakdjnazjdkzandada
  <br>
   dzakdjnazjdkzandada
  <br>
   dzakdjnazjdkzandada
  <br>
   dzakdjnazjdkzandada
  <br>
   dzakdjnazjdkzandada
  <br>
   dzakdjnazjdkzandada
  <br>
   dzakdjnazjdkzandada
  <br>
 

</div>
__________________________

<div style="position: relative; margin-left: 50%;">
  <div style="overflow: hidden;">
    <popover [open]="true" placement="left">
      <div popover="content">
        Hello
      </div>
      <div class="label" for=""></div>
      <input/>
    </popover>
  </div>
</div>