
<clt-panel [toggleable]="true" [collapsed]="true" header="Add 100 points on map">
  <div class="sample">
    <ng-content></ng-content>
  </div>
  <div class="code" *ngIf='code'>
    <clt-panel header="HTML" [toggleable]="true" [collapsed]="true" (toggleChange)="!$event ? html.codeMirror.refresh() : ''" *ngIf="code.html">
      <ngx-codemirror [ngModel]="code.html" [autoFocus]="true" [options]="{
        lineNumbers: true,
        theme: 'material',
        mode: 'htmlembedded',
        scrollbarStyle: 'null'
      }" #html></ngx-codemirror>
    </clt-panel>
    <clt-panel header="JS" [toggleable]="true" [collapsed]="true" (toggleChange)="!$event ? js.codeMirror.refresh(): ''" *ngIf="code.js">
      <ngx-codemirror [ngModel]="code.js" [autoFocus]="true" [options]="{
        lineNumbers: true,
        theme: 'material',
        mode: 'javascript',
        scrollbarStyle: 'null'
      }" #js></ngx-codemirror>
    </clt-panel>
  </div>
</clt-panel>