<div id="appContainer">
<defi-sidebar [conf]="conf">

    </defi-sidebar>
    <div id="appContent">
        <defi-navbar>
            <div logo>
                <img src="assets/img/logo.png" alt="Logo">
            </div>
            <div right>
                
            </div>
        </defi-navbar>
        <div id="outletContent">
            <button (click)="sidePanel.open()"> open</button>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<defi-side-panel #sidePanel [ghost]="true">
    <ng-template popup-body>
        hey!
    </ng-template>
    <div title>Hey</div>
</defi-side-panel>