@import '../../common';
:host{
    display: inline-block;
    font-size: 0.7em;
    width: 100%;
    /* margin-bottom: 20px; */
    min-height: 0.7em;
    top: -2px;
    line-height: 0;
    text-align: right;
    color: #dc3545;
}