@import '../common';
:host{
    
    .defi-popover {
        position: relative;
        display: inline-block;
        .defi-popover-container{
            padding: 10px;
            transition-property: all;
            transition-duration: 0.1s;
            transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
            &::after {
                content: "";
                position: absolute;
                border-style: solid;
                border-width: 5px;
            }
            &.right {
                left: calc(100% + 10px);
                top: -31px;
                margin-top:25%;
                &::after {
                    right: 100%;
                    top: 50%;
                    margin-top: -10px;
                    border-color: transparent #b9b9b9 transparent transparent;        
                }
            }
            &.left {
                right: calc(100% + 10px);
                top: -31px;
                margin-top:25%;
                &::after {
                    left: 100%;
                    top: 50%;
                    margin-top: -10px;
                    border-color: transparent transparent transparent #b9b9b9;        
                }
            }
            &.bottom {
                top: calc(100% + 10px);
                left:-101.5px;
                margin-left:50%;
                &::after {
                    left: 50%;
                    margin-left: -5px;
                    bottom: 100%;
                    border-color: transparent transparent #b9b9b9 transparent;        
                }
            }
            &.top {
                bottom: calc(100% + 10px);
                left:-101.5px;
                margin-left:50%;
                &::after {
                    left: 50%;
                    margin-left: -5px;
                    top: 100%;
                    border-color: #b9b9b9 transparent transparent transparent;        
                }
            }
        }
    }
    

    .defi-popover .defi-popover-container {
        visibility: hidden;
        border: 1px solid #d2d2d2;
        position: absolute;
        z-index: 1;
        background-color: white;
        border-radius: 3px;
        
    }
    & ::ng-deep {
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }
    
}