%header {
  padding: 10px;
  font-weight: bold;
  align-items: center;
  background-color: var(--headerBgColor);
  color: var(--headerTextColor);
  border-width: var(--headerBorderWidth);
  border-color: var(--headerBorderColor);
  font-weight: var(--headerFontWeight);
}
%headerIcon{background-color: var(--headerIconTextColor)}
%headerAccent {background-color: var(--headerBgColorAccent)}

@mixin button ($bg, $color) {
  border: none;
  background-color: $bg;
  color: $color;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: var(--stateHoverBgColor);
  }
}
@mixin size ($width, $height: $width) {
  width: $width;
  height: $height;
}