<div class="openSidebar" [ngClass]="{'openSidebar':sidebar._open, 'closeSidebar':!sidebar._open}" id="sidebar">
    <div class="list">
        <div *ngFor='let item of conf.list'>
            <ng-container *ngTemplateOutlet="linkTemplate;context:{$implicit:item}"></ng-container>  
        </div>
    </div>
    <div class="bottomList">
        <div *ngFor='let item of conf.bottom'>
            <ng-container *ngTemplateOutlet="linkTemplate;context:{$implicit:item}"></ng-container>
        </div>
        <div id="toggleSidebar" class="item" (click)="toggleSidebar();" [ngClass]="{'openSidebar':sidebar._open, 'closeSidebar':!sidebar._open}">
            <div class="icon" >
                <i class="fa fa-arrow-right"></i>
            </div>
        </div>
    </div>
</div>

<ng-template #linkTemplate let-item>
    <div id="{{item.id}}" class="item" (click)="goTo(item)" (auxclick)="newWindow(item)" (mouseover)="toggleHint($event)" (mouseleave)="toggleHint($event)">
        <div class="icon">
            <i class="{{item.icon}}"></i>
        </div>
        <div class="description" [ngClass]="{'openSidebar':sidebar._open, 'closeSidebar':!sidebar._open}">
            {{item.description}}
        </div>
        <div id="hint-{{item.id}}" class="hintContainer"  [@hintState]="hintState">
            <div class="hint">{{item.description}}</div>
        </div>
    </div>
</ng-template>
